<app-header>
  <ng-container>
      <div class="container">
          <p>Página de login</p>
          <form>
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Nome</mat-label>
                  <input type="text" name="nome" matInput placeholder="Ex. Gabriel Braga" formControlName="nome">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Senha</mat-label>
                  <input type="password" name="senha" matInput placeholder="12345678" formControlName="senha">
              </mat-form-field>
              <button type="submit" mat-raised-button color="primary">ACESSAR</button>
          </form>
      </div>
  </ng-container>
</app-header>
